/* selectors.css */

/* .cool-text {
  color: red;
} */

#nice-text {
  color: purple;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.cool-text, h2 {
  font-style: italic;
}

input[type="number"] {
  color: red;
}

a:hover {
  color: red;
}

#money::before {
  content: "$";
}

#money::after {
  content: "$";
}


